.App{
    text-align: center;
}

.frame {
    margin : 0;
    display : flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin : 5em 0;
    display : flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.card {
    border-radius: 2em;
    padding: 0 1em;
    background-color: rgb(90, 58, 233);
}

.controller {
    background: rgb(90, 58, 233);
    margin: 5px 1em;
    border: 5px solid;
    height : 3em;
    width: 3em;
    border-radius: 100%;
    background: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}


.controller-button {
    height : 3em;
    width : 15em;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-panel {
    display : flex;
    justify-content: center;
    align-items: center;
}

.pannel {

}